@import '../../scss/variables.scss';

.button {
  cursor: pointer;
  background-color: $white;
  border: 2px solid $black;
  width: 100%;
  max-width: 100px;
  height: 45px;
  transition: all 0.2s ease;

  &:disabled {
    $disabled: rgba(0, 0, 0, 0.5);
    color: $disabled;
    border-color: $disabled;
  }

  &:hover:not(:disabled) {
    border-color: $focus;
    color: $focus;
  }
}
