@import '../../../scss/variables.scss';

.input-container {
  padding: 8px 0 20px 0;
  position: relative;
  margin-bottom: 8px;
}

.input {
  width: 100%;
  border-radius: 14px;
  font-size: 16px;
  padding: 8px;
  line-height: 36px;
  border: 2px solid $black;
  text-align: center;

  &.input-error {
    border-color: $error;
  }

  &:focus-visible {
    outline: none;
    border-color: $focus;
  }
}

.label {
  position: absolute;
  top: 0px;
  left: 8px;
  font-size: 14px;
  padding: 2px;
  background-color: gray;
  color: $white;
}

.error {
  position: absolute;
  bottom: 0;
  left: 8px;
}
